<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styleRegister.css" type="text/css" />
    <title>Formulario de registro</title>
  </head>

  <body>
    <%- include('../partials/header.ejs') %>

    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Formulario de registro de usuarios</h2>
        </div>
      </div>
      <div class="col-12">
        <form
          action="/user/register"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row user-detail">
            <div class="col-12 col-md-6">
              <label for="firstName" class="form-label">Nombre:</label>
              <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="Andrea"
                class="form-control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.firstName : null  %>"
              />
              <% if (locals.errors && errors.firstName) { %>
              <div class="text-danger"><%= errors.firstName.msg %></div>
              <% } %>
            </div>
            <div class="col-12 col-md-6">
              <label for="lastName" class="form-label is-invalid"
                >Apellidos:</label
              >
              <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Suarez"
                class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.lastName : null %>"
              />
              <% if (locals.errors && errors.lastName) { %>
              <div class="text-danger"><%= errors.lastName.msg %></div>
              <% } %>
            </div>
            <div class="col-12 col-md-6">
              <label for="email" class="form-label is-invalid"
                >Correo Electronico:</label
              >
              <input
                type="text"
                id="email"
                name="email"
                placeholder="micorreo@gmail.com"
                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.email : null  %>"
              />
              <% if (locals.errors && errors.email) { %>
              <div class="text-danger"><%= errors.email.msg %></div>
              <% } %>
            </div>
            <div class="col-12 col-md-6">
              <label for="password" class="form-label">Contraseña:</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Crea tu contraseña"
                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              />
              <% if (locals.errors && errors.password) { %>
              <div class="text-danger"><%= errors.password.msg %></div>
              <% } %>
            </div>

            <div class="col-12">
              <label for="userImage" class="form-label"
                >Imagen de perfil:
              </label>

              <!-- <div class='imagen'>              -->
              <input
                type="file"
                id="image"
                name="userImage"
                class="form-input"
              />
              <% if (locals.errors && errors.userImage) { %>
              <div class="text-danger"><%= errors.userImage.msg %></div>
              <% } %>

              <!-- </div> -->
            </div>
            <div class="col-12">
              <button type="submit" class="save-user">Registrarse</button>
              <button type="reset" class="erase-form">Borrar formulario</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <section class="container">
      <%- include('../partials/footer.ejs') %>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="/js/formulariocreacioncuenta.js"></script>
  </body>
</html>
