<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= usuario.firstName %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= usuario.firstName %> </h1>
    <br>
    <p>NAME: <%= usuario.firstName%> </p>
 
    <h1><%= usuario.lastName %> </h1>
    <br>
    <p>NAME: <%= usuario.lastName %> </p>

 <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= usuario.email %> </h1>
    <br>
    <p>NAME: <%= usuario.email %> </p>




</body>
</html>