<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styleProduct.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <!-- todos los productos -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Todos los productos</h2>
        </div>
        <% products.forEach(product => { %>

        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/products/detail/<%= product.id %>">
              <figure class="product-box_image">
                <img
                  class="zoom"
                  src="/images/products/<%= product.image %>"
                  alt="imagen de producto"
                  width="400"
                />
              </figure>
              <article class="product-box_data">
                <h2>$Precio final: <%= product.price %></h2>
                <span>Descuento% <%= product.discount %></span>
                <p>Nombre: <%= product.name %></p>
                <i class="fas fa-truck"></i>
              </article>
            </a>
          </section>
        </div>
        <% }) %>
      </div>
    </div>
    <!-- /todos los productos -->

    <section class="footer"><%- include('../partials/footer.ejs') %></section>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
